@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins',sans-serif;
    background-color: rgb(6, 6, 33);
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
}

h2{
    font-size: 1.8rem;
    font-weight: 600;
}

h3{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 800;
}

p{
    font-size: 1.4rem;
    margin: 0 70px;
    font-weight: 500;

}
button{
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color:rgb(90, 14, 184);
    color: #fff;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
    
}

button:hover, button:focus {
    background-color: rgb(6, 6, 33);
    color: rgb(90, 14, 184);
    outline: rgb(90, 14, 184);
} 

.navbar{
    background-color: rgb(1, 1, 11);
    font-size: 16px;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
}

.navbar h2{
    color: rgb(220, 220, 220);
}
.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: rgb(220, 220, 220);
    transition: 0.3s ease;
}
.nav-link:focus{
    color: rgb(90, 14, 184);
}

.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(90, 14, 184);
}

.navbar-light .navbar-nav .nav-link.active{
    color: rgb(90, 14, 184)
}

.navbar-light .navbar-toggler {
    border: none;
    outline: none;
}

@media only screen and (max-width: 991px){
    body > nav > div > button:hover,
    body > nav > div > button:focus{
        background-color: #fff;
    }
    body > nav > div > button:hover #bar,
    body > nav > div > button:focus #bar{
        color:  rgb(1, 1, 11);
    }
    #navbarSupportedContent > ul{
        display: block;
        margin: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }
    #navbarSupportedContent > ul > li:nth-child(n) > a{
        padding: 10px 0;
    }
    #navbarSupportedContent
}

#bar{
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    transition: 0.3s ease;
    color: #fff;
}
#bar:hover, #bar:active{
    color: white;

}

#home span{
    color: coral;
}

.about-me {
    height: 60vh;
    margin-top: 10rem;
    margin-bottom: 10rem;
    background-color: rgb(18, 18, 62);
    color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px #fff;
    /* margin: 0 10rem;
    
    width: 80%;
    
    margin-top: 5rem;
    background-color: rgb(90, 14, 184);
    border-radius: 10px */;
}
.about-me span{
    color: rgb(90, 14, 184);
}
hr{
    width: 50%;
    height: 1px;
    background-color:rgb(90, 14, 184);
}
#intro, #aboutme, #featured{
    visibility: hidden;
}

.project{
    cursor: pointer;
    height: 50vh;
    width: 50vh;
    margin: 2rem;
    background-color: rgb(18, 18, 62);
    color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project img{
    transition: 0.3s all;
    
}
.project:hover{
    transform: scale(1.08);
}

.project .det-btn{
    background: rgb(90, 14, 184);
    color: #fff;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all; 
}
.project:hover .det-btn{
    transform: translateY(0);
    opacity: 1;    
}
.project img{
}

.project .det-btn:hover{
    background-color: rgb(6, 6, 33);
    color: rgb(90, 14, 184);
    outline: rgb(90, 14, 184);
}
#featured{

}
@media screen and (max-width:800) {
    #bar
    #
    
}